pandas
scikit-learn
matplotlib
seaborn
python-box
pyYAML
tqdm
mlflow
dagshub
ensure
joblib
optuna
multipart
boto3
types-PyYAML
streamlit
dvc
gdown
xgboost
ydata-profiling
nltk
ipywidgets
shap
evidently==0.5.1
numpy==1.24.4
-e .